:root {
  --blackColor: #000;
  --whiteColor: #fff;
  --primaryColor: #101010;
  --secondaryColor: #ffa542;
  --grayColor: #838383;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  &,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #eaeaea;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
