.aside {
  max-width: 350px;
  flex: 0 1 100%;
  border-radius: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background: var(--whiteColor);

  .aside__total {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 15px;
    color: var(--blackColor);
    padding: 21px;

    p {
      text-transform: uppercase;
    }
  }

  .aside__button {
    width: 100%;
    padding: 22px 0;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    color: var(--whiteColor);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    background: var(--primaryColor);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s ease;
    border: 1px solid var(--blackColor);

    &:hover {
      color: var(--blackColor);
      background-color: var(--whiteColor);
    }
  }
}

@media (max-width: 650px) {
  .aside {
    max-width: 650px;
  }
}
