.item {
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background: var(--whiteColor);
  padding: 18px;
  position: relative;

  .item__info {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 20px;

    .item__img {
      width: 145px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .item__title {
      font-weight: 500;
      font-size: 17px;
      color: #1c1c27;
      margin-bottom: 20px;
    }

    .item__price {
      font-weight: 600;
      font-size: 15px;
      color: #aaa;
    }
  }

  .item__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item__quantity {
      display: flex;
      align-items: center;
      flex: 0 1 120px;
      width: 100%;
      justify-content: space-between;

      .item__quantityButton {
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: var(--whiteColor);
        background-color: var(--secondaryColor);
        border-radius: 50px;
        transition: 0.4s ease;

        &:hover {
          background-color: #ff8400;
        }
      }

      .item__quantityValue {
        font-weight: 600;
        font-size: 17px;
        color: var(--blackColor);
      }
    }

    .item__totalPrice {
      font-weight: 600;
      font-size: 15px;
      color: #1c1c27;
    }

    @media (max-width: 280px) {
    }
  }

  .item__delete {
    width: 20px;
    height: 18px;
    position: absolute;
    color: #df6464;
    top: 30px;
    right: 30px;
    cursor: pointer;
    transition: color 0.4s ease;

    &:hover {
      color: #fe1b1b;
    }

    @media (max-width: 320px) {
      top: 10px;
      right: 20px;
    }
  }

  @media (max-width: 280px) {
    .item__info {
      flex-direction: column;
    }

    .item__controls {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      row-gap: 30px;

      .item__quantity {
        flex: auto;
      }
    }
  }
}
