.item {
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background: var(--whiteColor);
  padding: 18px;
  position: relative;

  .item__info {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 20px;

    .item__img {
      width: 145px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .item__title {
      font-weight: 500;
      font-size: 17px;
      color: #1c1c27;
      margin-bottom: 20px;
    }

    .item__price {
      font-weight: 600;
      font-size: 15px;
      color: #aaa;
    }
  }

  .item__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item__quantity {
      display: flex;
      align-items: center;
      column-gap: 15px;

      .item__quantityButton {
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: var(--whiteColor);
        background-color: var(--secondaryColor);
        border-radius: 50px;
      }

      .item__quantityValue {
        font-weight: 600;
        font-size: 17px;
        color: var(--blackColor);
      }
    }

    .item__totalPrice {
      font-weight: 600;
      font-size: 15px;
      color: #1c1c27;
    }
  }

  .item__delete {
    width: 20px;
    height: 18px;
    position: absolute;
    color: #df6464;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }
}
