.footer {
  padding: 30px 27px 32px 30px;
  background-color: var(--whiteColor);
  border-radius: 30px 30px 0 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  max-height: 150px;
  margin-top: auto;

  .footer__menu {
    display: flex;
    max-width: 428px;
    height: 83px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .link {
      color: var(--colorBlack);
      font-size: 17px;
      font-weight: 400;
    }

    .footer__links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .footer__action {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .action__language {
        display: flex;
        column-gap: 15px;
        align-items: center;

        .action__icon {
          width: 20px;
          height: 20px;
          color: var(--grayColor);
        }

        .action__choice {
          display: flex;
          column-gap: 15px;

          .action {
            font-size: 15px;
            font-weight: 500;
            color: var(--primaryColor);
            cursor: pointer;
            background-color: transparent;
          }

          .active {
            color: var(--secondaryColor);
          }
        }
      }
    }
  }
  .footer__socials {
    display: flex;
    align-items: center;
    column-gap: 15px;
    max-height: 31px;

    .social {
      height: 31px;
      width: 31px;
      color: var(--primaryColor);
    }
  }
}
