.footer {
  padding: 30px 27px 32px 30px;
  background-color: var(--whiteColor);
  border-radius: 30px 30px 0 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: auto;
  gap: 30px;

  @media (max-width: 500px) {
    & {
      flex-direction: column;
    }
  }

  .footer__menu {
    display: flex;
    max-width: 428px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .link {
      color: var(--colorBlack);
      font-size: 17px;
      font-weight: 400;
      transition: color 0.4s ease;

      &:hover {
        color: var(--grayColor);
      }
    }

    .footer__links {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    .footer__action {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      justify-content: space-between;

      .action__language {
        display: flex;
        column-gap: 15px;
        align-items: center;

        .action__icon {
          width: 20px;
          height: 20px;
          color: var(--grayColor);
        }

        .action__choice {
          display: flex;
          column-gap: 15px;

          .action {
            font-size: 15px;
            font-weight: 500;
            color: var(--primaryColor);
            cursor: pointer;
            background-color: transparent;
            transition: color 0.4s ease;

            &:hover {
              color: var(--grayColor);
            }
          }

          .active {
            color: var(--secondaryColor);
          }
        }
      }
    }

    @media (max-width: 660px) {
      & {
        flex-direction: column;
        row-gap: 15px;
      }
    }
  }
  .footer__socials {
    display: flex;
    align-items: center;
    column-gap: 15px;
    max-height: 31px;

    .social {
      height: 31px;
      width: 31px;
      color: var(--primaryColor);
      transition: color 0.4s ease;

      &:hover {
        color: var(--grayColor);
      }
    }
  }
}
