.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;

  .header__action {
    display: flex;
    column-gap: 30px;
    color: var(--grayColor);

    .action__button {
      cursor: pointer;
      position: relative;
      height: 100%;
      padding-top: 5px;

      .action__count {
        position: absolute;
        width: 18px;
        height: 18px;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        top: -5px;
        right: -8px;
        color: var(--whiteColor);
        background-color: var(--secondaryColor);
        border-radius: 100px;
      }

      .favorite {
        width: 22px;
        height: 20px;
      }

      .cart {
        width: 24px;
        height: 24px;
      }
    }
  }
}
